streamlit==1.44.1
requests==2.32.3
beautifulsoup4==4.11.1
faiss-cpu==1.11.0
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.61
langchain-huggingface==0.2.0
langchain-ollama==0.3.0
langchain-text-splitters==0.3.8
sentence-transformers==4.1.0
transformers==4.52.3
huggingface-hub==0.32.0